<table class="table-wrapper">
  <tr class="app-color-grey font-14 font-bold">
    <th>STORE NAME <span class="fa fa-filter"></span></th>
    <th>STORE ID <span class="fa fa-filter"></span></th> 
    <th>APPLE ID <span class="fa fa-filter"></span></th>
    <th>CITY <span class="fa fa-filter"></span></th>
    <th>COUNTRY <span class="fa fa-filter"></span></th>
  </tr>
  <tr>
    <td>Super Awesome Store #222</td>
    <td>6548749</td>
    <td>3117810</td>
    <td>Bengaluru</td>
    <td>India</td>
  </tr>
  <tr>
      <td>Super Awesome Store #222</td>
      <td>6548749</td>
      <td>3117810</td>
      <td>Bengaluru</td>
      <td>India</td>
    </tr>
    <tr>
        <td>Super Awesome Store #222</td>
        <td>6548749</td>
        <td>3117810</td>
        <td>Bengaluru</td>
        <td>India</td>
      </tr>
      <tr>
          <td>Super Awesome Store #222</td>
          <td>6548749</td>
          <td>3117810</td>
          <td>Bengaluru</td>
          <td>India</td>
        </tr>
        <tr>
            <td>Super Awesome Store #222</td>
            <td>6548749</td>
            <td>3117810</td>
            <td>Bengaluru</td>
            <td>India</td>
          </tr>
</table>
<div class="app-flex pagination-wrapper">
<button class="app-flex app-align-center app-transparent-btn app-color-blue">
  <span class="fa fa-angle-left font-18 hmargin"></span>
  <span class="font-16">Previous</span>
</button>
<p class="app-color-grey hmargin">Showing 1 - 5 of 16</p>
<button class="app-flex app-align-center app-transparent-btn app-color-blue">
  <span class="font-16">Next</span>
  <span class="fa fa-angle-right font-18 hmargin"></span>
</button>
</div>