.filter-wrapper {
    padding: 10px 0;
    width: 100%;
}

.filter-btn {
    width: 20%;
}

.input-wrapper {
    width: 60%;
    position: relative;
}

.close-btn {
    position: absolute;
    right: 1%;
    background: #888888;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.search-input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #cccccc;
    outline: none;
    text-align: center;
}