<nav>
  <ul class="container app-flex app-align-center app-bckg-grey app-color-white">
    <li class="logo app-flex app-align-center font-18">
      <span class="fa fa-apple"></span>
      <span class="logo-name">DMT</span>
    </li>
    <li class="right-header app-flex app-align-center">
      <input type="text" class="search-input" placeholder="Case Search">
      <button class="notification app-transparent-btn app-color-white">
        <span class="fa fa-bell font-18 hmargin"></span>
      </button>
      <button class="userbtn app-flex app-align-center app-transparent-btn app-color-white">
        <span  class="font-16">Natasha</span>
        <i class="hmargin fa fa-angle-down"></i>
      </button>
    </li>
  </ul>
</nav>