<div class="app-flex edit-btn">
    <button class="app-flex app-align-center app-transparent-btn font-14 app-color-blue">
      <i class="fa fa-edit hmargin"></i>
      <span class="font-bold">EDIT</span>
  </button>
</div>
<div class="app-flex content-wrapper">
    <div class="overview-wrapper app-flex-column half-width">
        <h2 class="app-flex app-align-center font-18">
            <span class="fa fa-shopping-bag hmargin"></span>
            <span>Store Identifiers</span>
        </h2>
        <hr class="app-hr app-bckg-lt-grey">
        <div class="app-flex content-wrapper">
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">APPLE ID</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">SFO STORE ID</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">STORE NAME<sup class="hmargin app-color-red">*</sup></p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">STORE NUMBER</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">RESELLER NAME<sup class="hmargin app-color-red">*</sup></p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">MPX STORE</p>
                <p class="font-bold">6578954</p>
            </div>
        </div>
    </div>
    <div class="app-flex whitespace"></div>
    <div class="overview-wrapper app-flex-column half-width">
        <h2 class="app-flex app-align-center font-18">
            <span class="fa fa-globe hmargin"></span>
            <span>Location Details</span>
        </h2>
        <hr class="app-hr app-bckg-lt-grey">
        <div class="app-flex content-wrapper">
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">RETAIL CHANNEL</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">LOCATION TYPE</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">LOCATION STATUS</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">TERRITORY</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column full-width font-14 content">
                <p class="app-color-grey font-bold font-12">LOCATION DESCRIPTION</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column full-width font-14 content">
                <p class="app-color-grey font-bold font-12">PRODUCT AUTHORIZATION</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column full-width font-14 content">
                <p class="app-color-grey font-bold font-12">PROGRAM AUTHORIZATION</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">TOTAL CUSTOMER SHOWROOM (M2)</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">STORE OPENENING DATE</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">STORE CLOSING DATE</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">MERCHANDIZING LANGUAGE 1</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column full-width font-14 content">
                <p class="app-color-grey font-bold font-12">MERCHANDIZING LANGUAGE 2</p>
                <p class="font-bold">6578954</p>
            </div>
        </div>
    </div>
    <div class="overview-wrapper app-flex-column half-width">
        <h2 class="app-flex app-align-center font-18">
            <span class="fa fa-shopping-bag hmargin"></span>
            <span>Store Location</span>
        </h2>
        <hr class="app-hr app-bckg-lt-grey">
        <div class="app-flex content-wrapper">
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">ADDRESS LINE 1<sup class="hmargin app-color-red">*</sup></p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">ADDRESS LINE 2</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">ADDRESS LINE 3</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">DISTRICT</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">CITY<sup class="hmargin app-color-red">*</sup></p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">PROVINCE/STATE<sup class="hmargin app-color-red">*</sup></p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">ZIP OR POSTAL<sup class="hmargin app-color-red">*</sup></p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">COUNTRY<sup class="hmargin app-color-red">*</sup></p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">GPS X</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">GPS Y</p>
                <p class="font-bold">6578954</p>
            </div>
        </div>
    </div>
    <div class="app-flex whitespace"></div>
    <div class="overview-wrapper app-flex-column half-width">
        <h2 class="app-flex app-align-center font-18">
            <span class="fa fa-globe hmargin"></span>
            <span>Account Details</span>
        </h2>
        <hr class="app-hr app-bckg-lt-grey">
        <div class="app-flex content-wrapper">
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">HQ ID</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">RESELLER CONTRACT STATUS</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">CONTRACT ID</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">RESELLER TYPE</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">ROLE TYPE</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">RESELLER PARTNER TYPE</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column full-width font-14 content">
                <p class="app-color-grey font-bold font-12">DCOTA CONNECTION</p>
                <p class="font-bold">6578954</p>
            </div>
        </div>
    </div>
    <div class="overview-wrapper app-flex-column half-width">
        <h2 class="app-flex app-align-center font-18">
            <span class="fa fa-shopping-bag hmargin"></span>
            <span>Shipping Address</span>
        </h2>
        <hr class="app-hr app-bckg-lt-grey">
        <div class="app-flex content-wrapper">
            <div class="app-flex-column full-width font-14 content">
                <p class="app-color-grey font-bold font-12">TYPE<sup class="hmargin app-color-red">*</sup></p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column full-width font-14 content">
                <p class="app-color-grey font-bold font-12">DESCRIPTION</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column full-width font-14 content">
                <p class="app-color-grey font-bold font-12">DELIVERY NOTES</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">CONTACT NAME</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">CONTACT NUMBER</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column full-width font-14 content">
                <p class="app-color-grey font-bold font-12">CONTACT EMAIL</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">ADDRESS LINE 1<sup class="hmargin app-color-red">*</sup></p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">ADDRESS LINE 2</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column full-width font-14 content">
                <p class="app-color-grey font-bold font-12">ADDRESS LINE 3</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">CITY<sup class="hmargin app-color-red">*</sup></p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">PROVINCE/STATE<sup class="hmargin app-color-red">*</sup></p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">ZIP OR POSTAL<sup class="hmargin app-color-red">*</sup></p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">COUNTRY<sup class="hmargin app-color-red">*</sup></p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column full-width font-14 content">
                <p class="app-color-grey font-bold font-12">USE THIS ADDRESS AS DEFAULT SHIPPING</p>
                <p class="font-bold">6578954</p>
            </div>
        </div>
    </div>
    <div class="app-flex whitespace"></div>
    <div class="overview-wrapper app-flex-column half-width">
        <h2 class="app-flex app-align-center font-18">
            <span class="fa fa-globe hmargin"></span>
            <span>Contact Information</span>
        </h2>
        <hr class="app-hr app-bckg-lt-grey">
        <div class="app-flex content-wrapper">
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">STORE MANAGER NAME</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex whitespace content"></div>
            <div class="app-flex-column half-width font-14 content">
                <p class="app-color-grey font-bold font-12">STORE MANAGER PHONE</p>
                <p class="font-bold">6578954</p>
            </div>
            <div class="app-flex-column full-width font-14 content">
                <p class="app-color-grey font-bold font-12">STORE MANAGER EMAIL</p>
                <p class="font-bold">6578954</p>
            </div>
        </div>
        <div class="overview-subwrapper">
            <h2 class="app-flex app-align-center font-18">
                <span class="fa fa-globe hmargin"></span>
                <span>Custom Fields Section</span>
            </h2>
            <hr class="app-hr app-bckg-lt-grey">
            <div class="app-flex content-wrapper">
                <div class="app-flex-column half-width font-14 content">
                    <p class="app-color-grey font-bold font-12">FIELD 1</p>
                    <p class="font-bold">6578954</p>
                </div>
                <div class="app-flex whitespace content"></div>
                <div class="app-flex-column half-width font-14 content">
                    <p class="app-color-grey font-bold font-12">FIELD 2</p>
                    <p class="font-bold">6578954</p>
                </div>
            </div>
        </div>
    </div>
</div>