<div class="app-flex-column deployment-wrapper">
    <h2>Deployments</h2>
    <div class="app-flex deployment-nav-btn">
        <button class="app flex app-transparent-btn app-color-blue font-16 app-align-center font-bold">
      <span>All Deployments</span>
      <span class="fa fa-angle-down hmargin"></span>
    </button>
        <button class="app flex app-transparent-btn app-color-blue font-16 app-align-center font-bold status-btn">
      <span>All Status</span>
      <span class="fa fa-angle-down hmargin"></span>
    </button>
    </div>
    <hr class="app-hr app-bckg-lt-grey">
    <div class="deployment-details">
        <div class="app-flex app-align-center header">
            <div class="app-flex-column header-left">
                <div class="app-flex app-align-center">
                    <p class="font-16 font-bold">White Plus AMR</p>
                    <p class="hmargin draft font-12">DRAFT</p>
                </div>
                <div class="app-flex deployment-overview">
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">REGION:</span>
                        <span>AMR</span>
                    </p>
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">DEPLOYMENT ID:</span>
                        <span>12345</span>
                    </p>
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">TSD:</span>
                        <span>Feb 18, 2018</span>
                    </p>
                </div>
                <div class="app-flex deployment-overview">
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">COUNTRY:</span>
                        <span>USA</span>
                    </p>
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">PROJECT TYPE:</span>
                        <span>NSO</span>
                    </p>
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">TID:</span>
                        <span>Feb 18, 2018</span>
                    </p>
                </div>
            </div>
            <div class="app-flex-column header-right">
                <p class="font-24 font-bold app-color-red">-7</p>
                <p class="font-bold app-color-red">RTI</p>
            </div>
        </div>
        <div class="app-flex-column deployment-schedule">
            <p class="font-11 font-bold">DEPLOYMENT SCHEDULE</p>
            <div class="app-flex deployment-schedule-timeline app-align-center">
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="app-hr app-bckg-lt-grey">
    <div class="deployment-details">
        <div class="app-flex app-align-center header">
            <div class="app-flex-column header-left">
                <div class="app-flex app-align-center">
                    <p class="font-16 font-bold">Beats</p>
                    <p class="hmargin completed font-12">COMPLETED</p>
                </div>
                <div class="app-flex deployment-overview">
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">REGION:</span>
                        <span>AMR</span>
                    </p>
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">DEPLOYMENT ID:</span>
                        <span>12345</span>
                    </p>
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">TSD:</span>
                        <span>Feb 18, 2018</span>
                    </p>
                </div>
                <div class="app-flex deployment-overview">
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">COUNTRY:</span>
                        <span>USA</span>
                    </p>
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">PROJECT TYPE:</span>
                        <span>NSO</span>
                    </p>
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">TID:</span>
                        <span>Feb 18, 2018</span>
                    </p>
                </div>
            </div>
            <div class="app-flex-column header-right">
            </div>
        </div>
        <div class="app-flex-column deployment-schedule">
            <p class="font-11 font-bold">DEPLOYMENT SCHEDULE</p>
            <div class="app-flex deployment-schedule-timeline app-align-center">
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
            </div>
        </div>
        <div class="app-flex-column deployment-fixtures">
            <p class="font-11 font-bold">FIXTURES</p>
            <p class="font-11 font-bold app-color-grey">11011 ABCD, 122314 DEFG</p>
        </div>
    </div>
    <hr class="app-hr app-bckg-lt-grey">
    <div class="deployment-details">
        <div class="app-flex app-align-center header">
            <div class="app-flex-column header-left">
                <div class="app-flex app-align-center">
                    <p class="font-16 font-bold">Beats</p>
                    <p class="hmargin published font-12">PUBLISHED</p>
                </div>
                <div class="app-flex deployment-overview">
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">REGION:</span>
                        <span>AMR</span>
                    </p>
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">DEPLOYMENT ID:</span>
                        <span>12345</span>
                    </p>
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">TSD:</span>
                        <span>Feb 18, 2018</span>
                    </p>
                </div>
                <div class="app-flex deployment-overview">
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">COUNTRY:</span>
                        <span>USA</span>
                    </p>
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">PROJECT TYPE:</span>
                        <span>NSO</span>
                    </p>
                    <p class="font-12 font-bold app-flex">
                        <span class="app-color-grey">TID:</span>
                        <span>Feb 18, 2018</span>
                    </p>
                </div>
            </div>
            <div class="app-flex-column header-right">
            </div>
        </div>
        <div class="app-flex-column deployment-schedule">
            <p class="font-11 font-bold">DEPLOYMENT SCHEDULE</p>
            <div class="app-flex deployment-schedule-timeline app-align-center">
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
            </div>
        </div>
        <div class="app-flex-column deployment-fixtures">
            <p class="font-11 font-bold">FIXTURES</p>
            <p class="font-11 font-bold app-color-grey">11011 ABCD, 122314 DEFG</p>
        </div>
    </div>
    <hr class="app-hr app-bckg-lt-grey">
</div>