.container {
    height: 92vh;
    overflow-y: scroll;
    position: relative;
}

.stores-wrapper {
    padding: 20px 10%;
    flex-basis: 100%;
}

.header {
    padding: 20px 0;
    justify-content: space-between;
}

.deployment-schedule {
    padding: 15px 0;
}

.deployment-schedule-timeline {
    padding: 5px 0 0 0;
}

.deployment-schedule-timeline .arrow {
    margin: 0 15px;
}

.program-details {
    padding: 20px 15%;
    width: 100%;
}

.program-detail-overview {
    padding: 10px 0;
}

.program-detail-overview>p {
    flex-basis: 33%;
}

.fixtures {
    padding: 20px 0;
    width: 100%;
}

.fixtures-details {
    padding: 20px 0;
}

.full-width {
    flex-basis: 100%;
    flex-wrap: wrap;
}

.whitespace {
    flex-basis: 5%;
}

.single-fixture-wrapper {
    padding: 15px;
    flex-basis: 30%;
    border: 1px solid #eeeeee;
    border-radius: 2px;
}

.single-fixture-wrapper>p {
    margin: 10px 0;
}