<header></header>
<div class="app-flex container">
    <sidebar></sidebar>
    <div class="stores-wrapper">
        <div class="app-flex app-align-center app-color-grey">
            <span>Stores</span>
            <span class="fa fa-angle-right hmargin"></span>
            <span>Super Awesome Store #222</span>
        </div>
        <div class="app-flex app-align-center header">
            <h1 class="app-flex app-align-center">
                <span>White Plus AMR</span>
                <span class="hmargin published font-12">PUBLISHED</span>
            </h1>
        </div>
        <div class="app-flex app-align-center app-color-grey font-12 font-bold">
            <span>DEPLOYMENT ID: 123456</span>
            <span class="hmargin">|</span>
            <span>TSD: 123456</span>
            <span class="hmargin">|</span>
            <span>TID: 123456</span>
            <span class="hmargin">|</span>
            <span>PROJECT TYPE: 123456</span>
        </div>
        <div class="deployment-schedule">
            <p class="font-11 font-bold">DEPLOYMENT SCHEDULE</p>
            <div class="app-flex deployment-schedule-timeline app-align-center">
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
                <span class="fa fa-angle-right app-color-grey font-24 arrow"></span>
                <div class="app-flex-column">
                    <p class="font-12 font-bold app-color-grey">SPACE PLANNING</p>
                    <p class="font-12 font-bold">Feb 18, 2018</p>
                </div>
            </div>
        </div>
        <hr class="app-hr app-bckg-lt-grey">
        <div class="program-details">
            <h2 class="app-flex app-align-center">
                <span class="fa fa-shopping-bag hmargin"></span>
                <span class="hmargin">Program Details</span>
            </h2>
            <hr class="app-hr app-bckg-lt-grey">
            <div class="app-flex program-detail-overview">
                <p class="font-12 font-bold app-flex-column">
                    <span class="app-color-grey">REGION</span>
                    <span>AMR</span>
                </p>
                <p class="font-12 font-bold app-flex-column">
                    <span class="app-color-grey">DEPLOYMENT ID</span>
                    <span>12345</span>
                </p>
                <p class="font-12 font-bold app-flex-column">
                    <span class="app-color-grey">TSD</span>
                    <span>Feb 18, 2018</span>
                </p>
            </div>
            <div class="app-flex program-detail-overview">
                <p class="font-12 font-bold app-flex-column">
                    <span class="app-color-grey">COUNTRY</span>
                    <span>USA</span>
                </p>
                <p class="font-12 font-bold app-flex-column">
                    <span class="app-color-grey">PROJECT TYPE</span>
                    <span>NSO</span>
                </p>
                <p class="font-12 font-bold app-flex-column">
                    <span class="app-color-grey">TID</span>
                    <span>Feb 18, 2018</span>
                </p>
            </div>
        </div>
        <div class="fixtures">
            <h2>
                <span class="fa fa-shopping-bag hmargin"></span>
                <span class="hmargin">Fixtures</span>
            </h2>
            <hr class="app-hr app-bckg-lt-grey">
            <div class="fixtures-details">
                <div class="app-flex app-align-center full-width">
                    <div class="app-flex-column single-fixture-wrapper">
                        <img src="https://via.placeholder.com/350x350" class="img-responsive">
                        <p class="font-12 font-bold app-flex-column">
                            <span class="app-color-grey">PROJECT TYPE:</span>
                            <span class="font-14">NSO</span>
                        </p>
                        <p class="font-12 font-bold app-flex-column">
                            <span class="app-color-grey">PROJECT TYPE:</span>
                            <span class="font-14">NSO</span>
                        </p>
                        <p class="font-12 font-bold app-flex-column">
                            <span class="app-color-grey">PROJECT TYPE:</span>
                            <span class="font-14 app-color-blue">NSO</span>
                        </p>
                        <p class="font-12 font-bold app-flex-column">
                            <span class="app-color-grey">PROJECT TYPE:</span>
                            <span class="font-14">NSO</span>
                        </p>
                    </div>
                    <div class="app-flex-column whitespace"></div>
                    <div class="app-flex-column single-fixture-wrapper">
                        <img src="https://via.placeholder.com/350x350" class="img-responsive">
                        <p class="font-12 font-bold app-flex-column">
                            <span class="app-color-grey">PROJECT TYPE:</span>
                            <span class="font-14">NSO</span>
                        </p>
                        <p class="font-12 font-bold app-flex-column">
                            <span class="app-color-grey">PROJECT TYPE:</span>
                            <span class="font-14">NSO</span>
                        </p>
                        <p class="font-12 font-bold app-flex-column">
                            <span class="app-color-grey">PROJECT TYPE:</span>
                            <span class="font-14 app-color-blue">NSO</span>
                        </p>
                        <p class="font-12 font-bold app-flex-column">
                            <span class="app-color-grey">PROJECT TYPE:</span>
                            <span class="font-14">NSO</span>
                        </p>
                    </div>
                    <div class="app-flex-column whitespace"></div>
                    <div class="app-flex-column single-fixture-wrapper">
                        <img src="https://via.placeholder.com/350x350" class="img-responsive">
                        <p class="font-12 font-bold app-flex-column">
                            <span class="app-color-grey">PROJECT TYPE:</span>
                            <span class="font-14">NSO</span>
                        </p>
                        <p class="font-12 font-bold app-flex-column">
                            <span class="app-color-grey">PROJECT TYPE:</span>
                            <span class="font-14">NSO</span>
                        </p>
                        <p class="font-12 font-bold app-flex-column">
                            <span class="app-color-grey">PROJECT TYPE:</span>
                            <span class="font-14 app-color-blue">NSO</span>
                        </p>
                        <p class="font-12 font-bold app-flex-column">
                            <span class="app-color-grey">PROJECT TYPE:</span>
                            <span class="font-14">NSO</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>