<ul class="container app-flex-column app-bckg-lt-grey">
  <li class="app-flex sidebar-item app-align-center">
      <span class="fa fa-dashboard"></span>
      <span class="item-name font-16">Dashboard</span>
  </li>
  <li class="app-flex sidebar-item app-align-center">
          <span class="fa fa-shopping-bag"></span>
          <span class="item-name font-16">Stores</span>
  </li>
  <li class="app-flex sidebar-item app-align-center">
          <span class="fa fa-shopping-bag"></span>
          <span class="item-name font-16">Store Groups</span>
  </li>
  <li class="app-flex sidebar-item app-align-center">
          <span class="fa fa-flag"></span>
          <span class="item-name font-16">Reports</span>
  </li>
  <li class="app-flex sidebar-item app-align-center">
          <span class="fa fa-signal"></span>
          <span class="item-name font-16">Work</span>
  </li>
  <li class="app-flex sidebar-item app-align-center">
          <span class="fa fa-cog"></span>
          <span class="item-name font-16">Tools</span>
  </li>
</ul>