.container {
    position: fixed;
    top: 8vh;
    bottom: 0;
    list-style-type: none;
    width: 54px;
    overflow: hidden;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    z-index: 2;
}

.container:hover {
    width: 250px;
}

.sidebar-item {
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

.item-name {
    padding: 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
